body {
  margin: 0;
  font-family: "Roboto Slab", serif;
}
.frist-page {
  background-image: url(pic/donation13.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.heding-fonts {
  display: inline-block;
  text-align: center;
  margin-left: 27%;
  margin-top: 70px;
}
.heding-fonts h1 {
  font-size: 50px;
  color: aqua;
}
.heding-fonts p {
  color: bisque;
}
.heding-fonts a {
  padding: 18px 40px;
  background-color: orangered;
  border-radius: 10px;
  color: azure;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 15px;
  display: inline-block;
  font-size: 20px;
}
.part-of-two {
  text-align: center;
  margin-top: 100px;
}
.part-of-two h1 {
  font-size: 50px;
  color: aqua;
}
.part-of-two p {
  font-size: 20px;
}
.part-of-two .one {
  color: rgb(63, 60, 60);
  width: 50px;
  background: white;
  padding: 30px;
  display: inline;
  margin: 10px;
  font-size: 30px;
}
.part-of-two .two {
  color: tomato;
  border: 2px solid tomato;
  border-radius: 8px;
  width: 50px;
  background: rgb(247, 232, 232);
  padding: 30px;
  display: inline;
  margin: 10px;
  font-size: 30px;
}
.part-of-two .three {
  color: rgb(63, 60, 60);
  width: 50px;
  background: white;
  padding: 30px;
  display: inline;
  margin: 10px;
  font-size: 30px;
}
.part-of-two .four {
  color: rgb(63, 60, 60);
  width: 70px;
  background: white;
  padding: 30px;
  display: inline-block;
  margin: 10px;
  font-size: 30px;
}
.part-of-two .five {
  color: rgb(63, 60, 60);
  width: 50px;
  background: white;
  padding: 30px;
  display: inline;
  margin: 10px;
  font-size: 30px;
}
#tk {
  text-align: center;
}
#tk input {
  border: none;
}
.line {
  width: 700px;
  height: 1.5px;
  background-color: rgb(192, 185, 185);
  margin: 0 auto;
  display: flex;
}
.baton a {
  text-decoration: none;
  text-align: center;
  background-color: orangered;
  color: azure;
  width: 10%;
  height: auto;
  padding: 10px 20px;
  right: 43%;
  position: absolute;
  float: left;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
}
.plan {
  text-align: center;
  margin-top: 200px;
}
.plan h1 {
  font-size: 50px;
}
.plan p {
  color: grey;
  margin: 0 auto;
}
.flexible-container {
  display: flex;
  margin: 50px 50px;
}
.experience-item {
  width: 50%;

  margin-left: 2%;
  margin-right: 2%;
  padding: 30px 30px 15px;
  border-radius: 10px;
  text-align: justify;
}
.border-1 {
  background: gray;
}
.border-2 {
  background: pink;
}
.border-3 {
  background: aqua;
}

.need-us {
  display: flex;
  margin: 40px 80px;
}
.half {
  width: 100%;
  margin: 5%;
}
.half img {
  width: 100%;
  padding-top: 5%;
  padding-right: 5%;
  height: 300px;
}
.link-button {
  text-decoration: none;
  color: azure;
  background-image: linear-gradient(chocolate, tomato);
  border-radius: 5px;
  padding: 15px 30px;
  margin: 20px;
  display: inline-block;
}
.half h1 {
  color: black;
  font-size: 40px;
}
.half p {
  color: gray;
}
.updates {
  text-align: center;
}
.updates h1 {
  font-size: 30px;
  margin-top: 50px;
  display: inline-block;
}
.email-btn {
  text-align: center;
  background: lightpink;
  width: 300px;
  margin: 0 auto;
  padding: 60px 120px;
}
form #email {
  padding: 10px 20px;
  background: rgb(189, 186, 186);
  border: none;
}
form #button {
  border: none;
  background-color: tomato;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-left: -5px;
}
footer {
  background-color: darkslategrey;
  text-align: center;
  height: 130px;
  padding-top: 25px;
  margin-top: 100px;
}
footer h1 {
  font-size: 30px;
}
